BasedOnStyle: llvm
BreakBeforeBraces: Allman
IndentWidth: 4
ColumnLimit: 200
AlignAfterOpenBracket: DontAlign
PointerAlignment: Middle
IndentCaseLabels: true
AllowShortFunctionsOnASingleLine: None
BreakAdjacentStringLiterals: false
BreakStringLiterals: false

